@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Active Users: @ActivityService.GetActiveUserCount()</p>

<p>Total Completed Sessions: @MetricsService.CompletedSessionsCount</p>
<p>Average Session Time: @MetricsService.AverageSessionTime</p>
<p>Active Session Count: @MetricsService.ActiveSessionCount</p>

<SurveyPrompt Title="How is Blazor working for you?" />
